#about {
  padding: 7rem;
}

.about-heading {
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
}

.about-body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding: 2rem 0;
}

#user-detail-name {
  margin-bottom: 1rem;
}

.about-body-content {
  flex: 2;
}

.about-body-profile {
  flex: 1.2;
}

.about-body-profile img {
  border: .6rem solid rgb(67, 67, 180);
  border-radius: 50%;
  width: 20rem;
}

@media screen and (max-width: 1024px) {
  .about-body {
    flex-direction: column-reverse;
    padding: 1rem 0;
    gap: 1rem;
  }
}

@media screen and (max-width: 762px) {
  #about {
    padding: 5rem 2rem;
  }
  .about-heading {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  #user-detail-name {
    font-size: 1.4rem;
    text-align: center;
  }
  .about-body-profile img {
    width: 16rem;
  }
}
