.footer {
  background-color: rgba(19, 19, 19, 0.8);
  padding: 3rem 0;
  width: 100%;
}

.footer-container {
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.left {
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.email h4 a,
.phone h4,
.location h4 {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.right {
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1rem;
}

.socials {
  margin-top: 1rem;
}

h4 {
  font-size: 1.2rem;
  padding: 0.7rem 0;
}

p {
  font-size: 1.08rem;
}

@media screen and (max-width: 640px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
  .right {
    padding: 0 4rem;
  }
  h4 {
    font-size: 1.1rem;
  }
  p {
    font-size: 1rem;
  }
}
