#home {
  height: 100%;
  width: 100%;
}

.mask {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.intro-img {
  background-size: cover;
  background-position: center;
  object-position: top;
  height: 110%;
  width: 100%;
}

.mask::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.7;
}

#home .content {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
}

#home .content {
  font-size: 1.4rem;
  padding: 0.6rem 0 1.5rem;
}

#home .content p {
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}

.typewriter {
  margin: 2rem 0 3rem;
}

.content .btn {
  margin: 1rem 0.8rem;
}

@media screen and (max-width: 762px) {
  .intro-img {
    object-fit: cover;
    object-position: top;
  }
  #home .content {
    font-size: 1rem;
    padding: 0;
    width: 20rem;
  }
  #home .content p {
    font-size: 1rem;
    margin: 2rem 0;
  }
  .content .btn {
    margin: 1rem 0.4rem;
  }
  .content-buttons {
    display: flex;
    flex-direction: column;
  }
}
