nav {
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  z-index: 10;
}

nav h1 {
  font-size: 3rem;
}

.nav-menu {
  display: flex;
}

li {
  font-weight: 600;
  margin: 0 1rem;
  padding: .6rem;
  width: 7rem;
  text-align: center;
}

li:hover {
  background-color: rgb(67, 67, 180);
  cursor: pointer;
  transition: .3s;
}

.hamburger-menu {
  display: none;
}

@media screen and (max-width: 1040px) {
  nav h1 {
    font-size: 2rem;
  }
  .nav-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    left: -100%;
    /* z-index: -3; */
    transition: .45s;
  }

  .active {
    left: 0;
  }

  li {
    padding: 1rem 0;
  }

  li a {
    font-size: 2rem;
    z-index: 0;
  }

  .hamburger-menu {
    display: initial;
    cursor: pointer;
  }
}
