.skill-stats {
  background-color: rgba(112, 112, 255, 0.2);
  box-shadow: inset 0px 0px 400px rgba(0, 0, 0, 1);
}

#skills,
#stats {
  padding: 8rem 0 4rem;
  font-size: 2rem;
  text-align: center;
}

#skills .skills-heading {
  margin-bottom: 2rem;
}

.technical-skills {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  row-gap: 4rem;
  column-gap: 6rem;
  margin: 1rem 16rem;
}

.skills-card {
  text-align: center;
}

.skills-card-img {
  opacity: 0.7;
  margin-bottom: 1rem;
  width: 8rem;
}

.skills-card-img img {
  width: 100%;
}

@media screen and (max-width: 1300px) {
  .technical-skills {
    margin: 1rem 12rem;
  }
}

@media screen and (max-width: 1024px) {
  .technical-skills {
    margin: 1rem 8rem;
  }
  .skills-card-img {
    width: 6rem;
  }
}

@media screen and (max-width: 762px) {
  .skills-heading,
  .stats-heading {
    font-size: 2rem;
  }
  .technical-skills {
    column-gap: 4rem;
    margin: 1rem 4rem;
  }
  .skills-card-img {
    width: 4rem;
  }
}

.calendar-container {
  background-color: rgba(255, 255, 255, .6);
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  padding: 3rem;
  margin: 3rem auto 2rem;
  width: 70%;
}

.github-statistics {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 3rem auto 2rem;
  width: 40%;
}

@media screen and (max-width: 1024px) {
  .calendar-container {
    margin: 3rem auto 1rem;
    width: 90%;
  }
  .github-statistics {
    width: 80%;
  }
}
